$color-prussian-blue: #001f4b;
$color-nile-blue: #182f51;
$color-gigas: #483d8b;
$color-rhino: #2a3f5e;
$color-dodger-blue: #407df4;
$color-cornflower-blue: #709ef7;
$color-malibu: #a0befa;
$color-hawkes-blue: #cfdffc;

$color-golden-dream: #f1e134;
$color-portica: #f5e967;
$color-texas: #f8f09a;
$color-double-pearl-lusta: #fcf8cc;

$color-pickled-bluewood: #28374b;
$color-shuttle-gray: #5e6978;
$color-manatee: #939ba5;
$color-ghost: #c9cdd2;

$color-silver: #b9b9b9;
$color-mine-shaft-dark: #292929;
$color-mine-shaft: #3a3a3a;

$color-wild-watermelon: #ff5267;
$color-geraldine: #ff7d8c;
$color-sundown: #ffa7b2;
$color-cosmos: #fed2d7;

$box-shadow-one-color: hsla(0, 0%, 0%, 0.1);
$box-shadow-two-color: hsla(0, 0%, 0%, 0.2);

$color-chestnut: #b54a4a;
$color-chablis: #fff5f5;
$color-apple: #53b54a;
$color-sugar-cane: #f6fff5;

$color-white: #ffffff;
$color-black: #000000;

$overlay-color: hsla(0, 0%, 0%, 0.7);
$tap-highlight-color: hsla(0, 0%, 0%, 0);

$content-width: 1197px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;

$fonts: '~@/assets/fonts/';
$images: '~@/assets/images/';
