$color-prussian-blue: #001f4b;
$color-nile-blue: #182f51;
$color-gigas: #483d8b;
$color-rhino: #2a3f5e;
$color-denim: #1565c0;
$color-dodger-blue: #407df4;
$color-cornflower-blue: #709ef7;
$color-malibu: #a0befa;
$color-hawkes-blue: #cfdffc;

$color-web-orange: #ffab00;
$color-dwarf-bronze: #9c5221;

$color-golden-dream: #f1e134;
$color-portica: #f5e967;
$color-texas: #f8f09a;
$color-double-pearl-lusta: #fcf8cc;

$color-pickled-bluewood: #28374b;
$color-shuttle-gray: #5e6978;
$color-manatee: #939ba5;
$color-ghost: #c9cdd2;

$color-silver: #b9b9b9;
$color-mine-shaft-dark: #292929;
$color-mine-shaft: #3a3a3a;
$color-wild-sand: #f6f6f6;
$color-catskill-white: #edf0f6;

$color-red-orange: #fd2727;
$color-wild-watermelon: #ff5267;
$color-geraldine: #ff7d8c;
$color-sundown: #ffa7b2;
$color-cosmos: #fed2d7;

$box-shadow-one-color: hsla(0, 0%, 0%, 0.1);
$box-shadow-two-color: hsla(0, 0%, 0%, 0.2);

$color-chestnut: #b54a4a;
$color-chablis: #fff5f5;
$color-apple: #53b54a;
$color-mantis: #63c55a;
$color-pastel-green: #6be261;
$color-lima: #64dd17;
$color-sugar-cane: #f6fff5;

$caribbean-green: #00c49d;
$color-onahau: #cceeff;
$color-rose-white: #fffefe;
$color-white: #ffffff;
$color-black: #000000;

$color-lochmara: #0088cc;
$color-blue-chill: #0e76a8;
$color-chetwode-blue: #7289da;

$overlay-color: hsla(0, 0%, 0%, 0.7);
$tap-highlight-color: hsla(0, 0%, 0%, 0);

$desktop-width: 1680px;
$content-width: 1197px;
$learning-tablet-size: 860px;
$tablet-width: 768px;
$puzzle-mobile-size: 610px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;

$fonts: '~@/assets/fonts/';
$images: '~@/assets/images/';
